<h1>FrappTalk!</h1>
<div class="panel panel-default">
  <div class="panel-body">
   <!--Connecting families through a messaging app..-->
  </div>
</div>

<body>
  <!--<nav class="navbar navbar-inverse">-->
    <!--<div class="container">-->
      <div class="navbar-header">
        <!--<%= link_to 'FrappChat', chat_path, class: "btn btn-success"  %>-->
      </div>
       <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Your Conversations', conversations_path %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path, class: "btn btn-success"  %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</body>



    <div>
    <%= link_to conversation.subject, conversation.(@conversation) %> 
    <%= link_to 'FrappChat', chat_path, class: "btn btn-success"  %>
    </div>
 </div>
 <% end %>

<!--<% page_header "Your Conversations" %>-->

<!--<ul class="list-group">-->
<!--  <%= render partial: 'conversations/conversation', collection: @conversations %>-->
<!--</ul>-->



<!--<% page_header "Your Conversations" %>-->

<!--<p><%= link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-primary' %></p>-->


<!--<div class="row">-->
<!--  <div class="col-sm-3">-->
<!--    <ul class="nav nav-pills nav-stacked">-->
<!--      <%= mailbox_section 'inbox', @box %>-->
<!--      <%= mailbox_section 'sent', @box %>-->
<!--      <%= mailbox_section 'trash', @box %>-->
<!--    </ul>-->
<!--  </div>-->

<!--  <div class="col-sm-9">-->
<!--    <ul class="list-group">-->
<!--      <%= render partial: 'conversations/conversation', collection: @conversations %>-->
<!--    </ul>-->

<!--    <%= will_paginate %>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="col-sm-9">-->
<!--  <% if @box == 'trash' %>-->
<!--    <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,-->
<!--                   data: {confirm: 'Are you sure?'} %></p>-->
<!--  <% end %>-->
<!--  <ul class="list-group">-->
<!--    <%= render partial: 'conversations/conversation', collection: @conversations %>-->
<!--  </ul>-->

<!--  <%= will_paginate %>-->
<!--  </div>-->
<!-- </div>-->
<!--</div>-->