<h1><%= @conversation.subject %></h1>

<% @conversation.receipts.each do |receipt| %> 
    <div>
        <%= receipt.message.body %>
    </div>
<% end %>

<%= form_tag conversation_messages_path(@conversation) %>

<%= form_tag conversation_messages_path(@conversation), method: post do  %>
    <div>
        <%= text_area_tag :body %>   
    </div>

    <%= submit_tag %>
<% end %>

<%= link_to "New Conversation", new_conversation_path %>

<% page_header "Conversation" %>

<div class="panel panel-default">
  <div class="panel-heading"><%= @conversation.subject %></div>

  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <% message = receipt.message %>

        <%= message.sender.name %>
          says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %>
        <%= message.body %>
      <% end %>
    </div>
  </div>
</div>

