<h1>FrappBlogg</h1>


<div class="panel panel-default">
  <div class="panel-body">
   Posting the best blogs for the family past and current events.
  </div>
</div>

<body>
  <!--<nav class="navbar navbar-inverse">-->
    <!--<div class="container">-->
      <div class="navbar-header">
        <!--<%= link_to 'FrappBlogg', chat_path, class: "btn btn-success"  %>-->
      </div>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Your Blogg!', conversations_path %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path, class: "btn btn-info"  %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</body>
